{% extends 'registration/base.html' %}
{% load bootstrap %}

{%  block container %}
    <div>
        <h3>Регистрация в системе</h3>
        <form role="form" action="" method="post" >
            {% csrf_token %}
            {{ form|bootstrap }}<br />
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        <br>
        <a href="{% url "password_reset" %}">Забыли пароль?</a> / <a href="{% url "login" %}?next={{ next }}">Вход в систему</a>
    </div>
{% endblock %}