{% extends 'presentations/../base.html' %}

{% block container%}
    <img src="{{ slide.image }}">
    <p>{{ slide.decription }}</p>
    {% if question %}
    <form method="post" action="">
        {% csrf_token %}
        <H3>{{ question.text }}</H3>
        {% for answer in answers %}

            {% if question.answers_type == 'single' %}
                <input type="radio" name="group1" value="{{ answer.id }}"
                       {% if answer.id in user_old_answers %}
                           checked="1"
                       {% endif %}
                >{{ answer }}<br>
            {% endif %}
            {% if question.answers_type == 'multi' %}
                <input type="checkbox" name="group1" value="{{ answer.id }}"
                       {% if answer.id in user_old_answers %}
                           checked="1"
                       {% endif %}
                >{{ answer }}<br>
            {% endif %}
            {% if answer.has_comment %}
                Комментарий:<br>
                <input type="text" name="comment" value=""><br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Далее">
    </form>
    {% endif %}
{% endblock %}