{% extends 'presentations/../base.html' %}

{% block container%}
    <form method="post" action="">
        <img src="{{ slide.image }}">
        <H3>{{ question_text }}</H3>
    
        {% for answer in answers %}
            {% if answers_type == 'U' %}
{#                TODO  а почему в value лежит текст ответа? по идее там должен лежать id ответа#}
                <input type="radio" name="group1" value="{{ answer }}">{{ answer }}<br>
            {% endif %}
            {% if answers_type == 'M' %}
                <input type="checkbox" name="group1" value="{{ answer }}">{{ answer }}<br>
            {% endif %}
            {% if answer.has_comment %}
                Комментарий:<br>
{#                TODO  а что за переменная comment?#}
                <input type="text" name="comment"> {{ comment }}<br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Далее">
    </form>
{% endblock %}