<div class="panel-body">{{ slide.description }}</div>
<hr>
{% if slide.image %}
    <div class="panel-body"><img src="{{ slide.image.url }}"></div>
{% endif %}

{% if slide.question %}
<form method="post" action="">
    {% csrf_token %}
    <H3>{{ slide.question.text }}</H3>
    {% for answer in answers %}

        {% if slide.question.answers_type == 'single' %}
            <input type="radio" name="group1" value="{{ answer.id }}"
                   {% if answer.id in user_saved_answers %}
                       checked="1"
                   {% endif %}
            >{{ answer }}<br>
        {% endif %}
        {% if slide.question.answers_type == 'multi' %}
            <input type="checkbox" name="group1" value="{{ answer.id }}"
                   {% if answer.id in user_saved_answers %}
                       checked="1"
                   {% endif %}
            >{{ answer }}<br>
        {% endif %}
        {% if answer.has_comment %}
            Комментарий:<br>
            <input type="text" name="comment" value="{{ answer.comment }}"><br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Далее">
</form>
{% endif %}
