{% extends 'cms/layout.html' %}

{% block edit_button_url %}
    {% url 'cms:questions-update' organisation.slug object.pk %}
{% endblock edit_button_url %}

{% block add_button_url %}
    {% url 'cms:answers-add' organisation.slug object.pk %}
{% endblock add_button_url %}

{% block content %}

 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Удалить данный объект</h4>
            </div>
            <form class='form' method="POST" name="delete_form" action="">
            <div class="modal-body">
                    {% csrf_token %}
                <p id="object"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-classic" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success waves-effect waves-classic">Удалить</button>
            </div>
           </form>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12">
  <div class="panel">
    <div class="panel-body">
        {{ object.text }}
    </div>
    <ul class="list-group">
        {% if answers_list %}
         {% for answer in answers_list %}
        <li class="list-group-item">
            {{ answer.text }}
            <div class="pull-right">
            <a href="javascript:void(0);" class=""><i class="fa fa-pencil"></i></a>
            <a href="" class="m-l-xs" data-toggle="modal" data-target=".bs-example-modal-sm" onClick='obj_delete("{{ answer.text }}",
                                        "{% url 'cms:answers-delete' organisation.slug object.pk answer.pk %}");'><i class="fa fa-times"></i></a>
            </div>
        </li>
         {% endfor %}
         {% else %}
        <li class="list-group-item">Нет ответов</li>
    {% endif %}
    </ul>
 </div>
</div>
{% endblock content %}