{% extends 'cms/layout.html' %}

{% block edit_button_url %}
    {% url 'cms:questions-update' organisation.slug object.pk %}
{% endblock edit_button_url %}

{% block content %}
<div class="col-lg-12 col-md-12">
  <div class="panel">
    <div class="panel-body">
        {{ object.text }}
    </div>
    <ul class="list-group">
        {% if answers_list %}
         {% for answer in answers_list %}
        <li class="list-group-item">
            {{ answer.text }}
            <div class="pull-right">
            <a href="javascript:void(0);" class=""><i class="fa fa-pencil"></i></a>
            <a href="javascript:void(0);" class="m-l-xs"><i class="fa fa-times"></i></a>
            </div>
        </li>
         {% endfor %}
         {% else %}
        <li class="list-group-item">Нет ответов</li>
    {% endif %}
    </ul>
 </div>
</div>
{% endblock content %}