<div class="page-sidebar sidebar">

    <div class="page-sidebar-inner slimscroll">

        <ul class="menu accordion-menu">

            <li>
                <a href="#" class="waves-effect waves-button">
                    <span class="menu-icon glyphicon glyphicon-home"></span>
                    <p>Панель</p>
                </a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-button">
                    <span class="menu-icon glyphicon glyphicon-user"></span>
                    <p>Профиль</p>
                </a>
            </li>

        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->