<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSBA</title>
</head>
<body>

Привет, <strong>{{ user }}</strong>! Ваша компания: <strong>{{ user.organisation.name }}</strong>
<hr>
Презентаций: <strong>{{ presentations|length }}</strong>
<br><br>
<table border="1">
  <tr>
    <td><strong>Название</strong></td> <td><strong>Дата создания<strong></td> <td><strong>Дата изменения<strong></td>
    <td><strong>Пройти<strong></td>
  </tr>
    {% for presentation in presentations %}
         <tr>
    <td>{{ presentation.name }}</td>
    <td>{{ presentation.created_at }}</td>
    <td>{{ presentation.modified_at }}</td>
    <td><a href="">огонь</a> </td>

        </tr>
{% endfor %}
</table>
<hr>
Польвователи текущей организации:
<ul>
{% for i in test.organisation.all %}
   <li>{{ i.name }}</li>
{% endfor %}
</ul>
</body>
</html>