{% extends 'base.html' %}
{%  block container %}
    <div>
        <h1>Добро пожаловать в wsba!</h1><br>
        <p>WSBA это система обучащих презентаций с проведением опросов и тестированием на усвоение материала.</p>
        <br>
        <p>Для регистрации организации необходимо заполнить форму:</p>
        <form method="post" action="">
            {% csrf_token %}
                {{ form }}
            <input type="submit" class="btn btn-primary" value="Зарегистрировать" >
        </form>
    </div>
{% endblock %}
