{% extends 'base.html' %}
{% load field_css %}
{%  block container %}
    <div>
        <h1>Добро пожаловать в wsba!</h1><br>
        <p>WSBA это система обучащих презентаций с проведением опросов и тестированием на усвоение материала.</p>
        <br>
        <p>Для регистрации организации необходимо заполнить форму:</p>
        <form method="post" action="">
            {% csrf_token %}
                {% if form.Organisation_name.errors %}
                    <div class="form-group has-error">
                        {{ form.Organisation_name | replace_css_class:"form-control" }}
                        {% for error in form.Organisation_name.errors %}
                            <div class="text-warning">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div>{{ form.Organisation_name }}</div>
                {% endif %}
            <input type="submit" class="btn btn-primary" value="Зарегистрировать" >
        </form>
    </div>
{% endblock %}
