{% extends 'base.html' %}
{%  block container %}
    <div>
        <h1>Добро пожаловать в wsba!</h1><br>
        <p>WSBA это система обучащих презентаций с проведением опросов и тестированием на усвоение материала.</p>
        <br>
        <p>Для регистрации организации необходимо заполнить форму:</p>
        <form method="post" action="">
            {% csrf_token %}
                {% if form.Organisation_name.errors %}
                    <div class="form-group has-warning has-feedback">
                        {{ form.Organisation_name }}
                        {{ form.Organisation_name.errors }}
                    </div>
                {% else %}
                    <div>{{ form.Organisation_name }}</div>
                {% endif %}
            <input type="submit" class="btn btn-primary" value="Зарегистрировать" >
        </form>
    </div>
{% endblock %}
