{% extends 'ui/base.html' %}

{%  block container %}

      <div class="row" style="padding-top: 50px;">
          <div class="col-md-2"></div>
          <div class="col-md-8">
             <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ presentation.name }}</h3>
    </div>
    <div class="panel-body">{{ presentation.description }} </div>

</div><a class="btn btn-default left" href="{% url 'go_presentation' organisation.slug presentation.id 0 %}" role="button">Начать</a>

      </div>

<div class="col-md-2"></div>

{% endblock %}