{% extends 'cms/layout.html' %}
{% load bootstrap %}

{% block content %}

    {% include 'cms/_modal_delete.html' %}

<div class="col-lg-12 col-md-12">
<div class="panel panel-green">
     <div class="panel-body">
            {{ presentation }}
        </div>
     </div>

<div class="panel panel-white">

        <div class="panel-body">
            <form class='form' method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | bootstrap }}
                <button type="submit" class="btn btn-success waves-effect waves-classic">{{ view.mode }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}