{% extends 'cms/layout.html' %}
{% load bootstrap_pagination %}

{% block content %}

{% include 'cms/_modal_delete.html' %}

<div class="col-lg-12 col-md-12">
<div class="sortable ui-sortable">
{% for object in object_list %}


    <div class="panel panel-white ui-sortable-handle">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="">{{ object.name }}</a></h3>
            <div class="panel-control">
                <a href="javascript:void(0);"><i class="icon-arrow-up"></i></a>
                <a href="javascript:void(0);"><i class="icon-arrow-down"></i></a>
                <a href="javascript:void(0);"><i class="icon-close"></i></a>
            </div>
        </div>
{#        <div class="panel-body">#}
{#           оставил пока          #}
{#            {{ object.name }}#}
{#        </div>#}
     </div>

{% endfor %}
</div>
    {% if is_paginated %}
            <nav class="text-center">
                {% bootstrap_paginate page_obj url_view_name="cms:presentations-list-paginated" url_extra_kwargs=page_kwargs %}
            </nav>
    {% endif %}

</div>

{% endblock content %}